<?xml version="1.0"?>
<!-- /**
 * Digit Software Solutions..
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 *
 * @category   Dss
 * @package    Dss_SalesOrderGrid
 * @author     Extension Team
 * @copyright Copyright (c) 2024 Digit Software Solutions. ( https://digitsoftsol.com )
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dss_SalesOrderGrid::menu_config"
            title="Enhanced Order Grid"
            module="Dss_SalesOrderGrid"
            sortOrder="20"
            parent="Dss_Core::dss_sub_menu"
            action="adminhtml/system_config/edit/section/salesordergrid"
            resource="Dss_SalesOrderGrid::menu_config" />
    </menu>
</config>
