@dss-color-light-gray: #f8f8f8;
@dss-color-gray: #e3e3e3;
@dss-color-white: #fff;
@dss-color-orange: #eb5202;
@dss-color-light-orange: #ea7601;
@dss-color-blue: #1787e0;

.mp-system-module-info-wrapper {
    background: @dss-color-light-gray;
    border-top: 1px solid @dss-color-gray;
    border-bottom: 1px solid @dss-color-gray;
    padding: 12px 0 0 12px;
    .mp-module-info-meta {
        color: @dss-color-light-orange;
    }
    .mp-module-info-content {
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        overflow: hidden;
        padding: 11px 0;
        a.mp-module-info-link {
            border-radius: 4px;
            color: @dss-color-white;
            padding: 2px 8px;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                text-decoration: underline;
            }
        }
        a.mp-module-info-link.mp-reddish {
            background: @dss-color-orange;
        }
        a.mp-module-info-link.mp-bluish {
            background: @dss-color-blue;
        }
    }
}
